<div class="row-fluid">
  
  <div class="span1">
  </div >


  <div class="span10">
    <div ng-repeat="blog in data" >
      <div class="well">
        <div><h3>{{ blog.name }}</h3>by {{ blog.author }}</div>
        <ul>
        
          <li ng-repeat="post in blog.posts">
            <a href="{{ post.url }}">
              <h3>{{ post.title }}</h3>
            </a>
            <p>{{ post.text }}</p>
          </li>

        </ul>
        
      </div>
    </div>
  </div>

  <div class="span1">
  </div >

</div>
    
